.is-placeholder {
    color: var(--bulma-input-placeholder-color) !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"] {
    color-scheme: dark;
}

.textarea {
    --bulma-textarea-min-height: 6em;
}

.textarea-btns {
    height: 6em;
}

:root {
    scrollbar-color: var(--bulma-dark) var(--bulma-black-ter);
    /* scrollbar-width: thin; */
}

.is-fixed {
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: var(--bulma-scheme-main);
    box-shadow: 0 3px 3px var(--bulma-scheme-main);
}

/* Sobrescreve o alinhamento padrão da modal para o topo */
.modal {
    justify-content: flex-start;
}

/* Adiciona o recuo de 100px apenas no conteúdo da modal */
.modal-content,
.modal-card {
    margin-top: 100px;
}

/* Preserva quebras de linha e espaços em branco */
.is-pre-wrap {
    white-space: pre-wrap;
}

.notification {
    transition: background-color 0.2s ease, color 0.2s ease;
}

/* 
:root {
    --header-height: 80px;
    --footer-height: 20px;
    --main-height: calc(100vh - var(--header-height) - var(--footer-height));
}xx

body {
    display: grid;
    grid-template-rows: var(--header-height) auto var(--footer-height);
    height: 100vh;
    margin: 0;
    gap: 0;
}

header {
    padding: 5px;
    display: flex;
    align-items: center;
}

main {
    padding: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: small;
    padding-right: 5px;
} */
